<div class="container">
    
      <div class="form-group">
        <label>제목</label>
        <input type="text"  name="title" class="form-control" id="title" placeholder="제목입력">
      </div>
      
      <div class="form-group">
        <label>작성자</label>
        <input type="text"  name="user" class="form-control" id="user" placeholder="제목입력">
      </div>
      
        <div class="form-group">
          <label for="comment">내용</label>
          <textarea class="form-control" name="content" rows="5" id="content"></textarea>
        </div>
      <button type="submit" class="btn btn-default write_submit">Submit</button>
    
</div>

<script>
  $( ".write_submit" ).click(function() {

  $.ajax({
    method: "POST",
    url: "/home/write",
    data: { title: $("#title").val(),
            user: $("#user").val(),
            content: $("#content").val()
          }
    
  })
    .done(function( msg ) {
        alert( "작성이 완료되었습니다" );

    });
  });
</script>